{{#if isFlipperEnabled}}
  <div class="flipper">
    <div class="back house-card-cover">
    </div>
    <div class="front {{houseCardClass}}">
    </div>
  </div>
{{else}}
  <div class="{{houseCardClass}}">
  </div>
{{/if}}
