{{#if isFlipperEnabled}}
  <div class="flipper">
    <div class="back order-cover">
    </div>
    <div class="front {{orderClass}}">
    </div>
  </div>
{{else}}
  <div class="{{orderClass}}">
  </div>
{{/if}}
