<ul class="cards">
  <li>
    <img src="assets/images/cards/stark-back.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-0-catelyn.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-1-blackfish.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-1-rodrick.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-2-greatjon.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-2-roose.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-3-robb.png">
  </li>
  <li>
    <img src="assets/images/cards/stark-4-eddard.png">
  </li>
</ul>
{{yield}}
