<section id="tracks-bar">
  <div id="round-marker" class="track">
    {{match.round}}
    <button {{action 'increaseRound'}}>+</button>
    <button {{action 'decreaseRound'}}>-</button>
  </div>
</section>
