body {
  padding: 0;
  margin: 0;
}

#board {
  width: 1980px;
  height: 2975px;
  background-image: url("images/board.jpg");
}

.territory {
  fill: none;
  stroke: none;
  pointer-events: all;
}

.territory.drop-actived {
  fill: rgba(255, 255, 255, .5);
}

.unit {
  background-repeat: no-repeat;
  position: relative;
}

.unit:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.unit:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.stark-footmen{
  background-image: url("images/units/stark-footman.png");
  width: 80px;
  height: 89px;
}

.stark-knight{
  background-image: url("images/units/stark-knight.png");
  height: 93px;
  width: 80px;
}

.stark-ship{
  background-image: url("images/units/stark-ship.png");
  width: 100px;
  height: 83px;
}

.stark-siege{
  background-image: url("images/units/stark-siege.png");
  width: 80px;
  height: 97px;
}

.lannister-footmen{
  background-image: url("images/units/lannister-footman.png");
  width: 80px;
  height: 89px;
}

.lannister-knight{
  background-image: url("images/units/lannister-knight.png");
  height: 93px;
  width: 80px;
}

.lannister-ship{
  background-image: url("images/units/lannister-ship.png");
  width: 100px;
  height: 83px;
}

.lannister-siege{
  background-image: url("images/units/lannister-siege.png");
  width: 80px;
  height: 97px;
}

.baratheon-footmen{
  background-image: url("images/units/baratheon-footman.png");
  width: 80px;
  height: 89px;
}

.baratheon-knight{
  background-image: url("images/units/baratheon-knight.png");
  height: 93px;
  width: 80px;
}

.baratheon-ship{
  background-image: url("images/units/baratheon-ship.png");
  width: 100px;
  height: 83px;
}

.baratheon-siege{
  background-image: url("images/units/baratheon-siege.png");
  width: 80px;
  height: 97px;
}

.greyjoy-footmen{
  background-image: url("images/units/greyjoy-footman.png");
  width: 80px;
  height: 89px;
}

.greyjoy-knight{
  background-image: url("images/units/greyjoy-knight.png");
  height: 93px;
  width: 80px;
}

.greyjoy-ship{
  background-image: url("images/units/greyjoy-ship.png");
  width: 100px;
  height: 83px;
}

.greyjoy-siege{
  background-image: url("images/units/greyjoy-siege.png");
  width: 80px;
  height: 97px;
}

.martell-footmen{
  background-image: url("images/units/martell-footman.png");
  width: 80px;
  height: 89px;
}

.martell-knight{
  background-image: url("images/units/martell-knight.png");
  height: 93px;
  width: 80px;
}

.martell-ship{
  background-image: url("images/units/martell-ship.png");
  width: 100px;
  height: 83px;
}

.martell-siege{
  background-image: url("images/units/martell-siege.png");
  width: 80px;
  height: 97px;
}

.tyrell-footmen{
  background-image: url("images/units/tyrell-footman.png");
  width: 80px;
  height: 89px;
}

.tyrell-knight{
  background-image: url("images/units/tyrell-knight.png");
  height: 93px;
  width: 80px;
}

.tyrell-ship{
  background-image: url("images/units/tyrell-ship.png");
  width: 100px;
  height: 83px;
}

.tyrell-siege{
  background-image: url("images/units/tyrell-siege.png");
  width: 80px;
  height: 97px;
}