body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Georgia, Serif;
  background: Black;
  color: White;
}

button {
  cursor: pointer;
}

#board {
  width: 1980px;
  width: 1500px; /* Striping out tracks */
  height: 2975px;
  margin-top: 4.5em;
  position: relative;
  background-image: url("images/board.jpg");
}

.drop-actived {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* TERRITORY */
.territory {
  fill: none;
  stroke: none;
  pointer-events: all;

  &:hover {
    fill: orange;
    opacity: 0.7;
  }

  &.drop-actived {
    path {
      fill: white;
      opacity: 0.7;
    }
  }
}

/* PLAYER DOCK */
.player-dock {
  height: 95%;
  left: 0;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 250px;
  z-index: 900;

  &.drop-actived {
    section {
      background: rgba(255, 255, 255, 0.7);
      color: black;
    }
  }

  aside {
    display: block;
    font-size: .7em;
    overflow: auto;
    position: relative;

    section {
      background: rgba(0, 0, 0, 0.7);
      color: white;
      overflow: auto;
      margin-bottom: 1px;
      padding: .5em .5em 0;

      &:not(:first-child) {
        min-height: 300px;
      }

      h1, h2, p {
        margin: 0 0 .5em;
      }

      h1 {
        font-size: 1.2em;
      }

      h2 {
        font-size: 1em;
      }
    }

    .piece {
      position: static;
    }

    .piece, .footman, .knight, .ship, .siege,
    .march, .march-m, .march-p,
    .consolidate, .consolidate-p,
    .defend, .defend-p,
    .raid, .raid-p,
    .support, .support-p {
      background-size: 100%;
      float: left;
      height: 52px;
      width: 44px;
    }

    .power-token {
      background-size: 100%;
      float: left;
      height: 52px;
      width: 34px;
      margin: 0px 2px;
    }
  }

  .toggle-trigger {
    background: rgba(255, 255, 255, 1);
    border: 0;
    width: 1.5em;
    position: fixed;
    top: 50%;
    height: 5em;

    &.on-right {
      left: 215px;
    }

    &.on-left {
      left: 0;
    }
  }
}

/* TRACKS BAR */
#tracks-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;

  .track {
    background: rgba(0, 0, 0, 1);
    color: #ccc;
    overflow: auto;
    font-size: 0.65em;
    padding: .5%;
    float: left;
    margin: 0 1px 0 0;
    width: 16.58%;
    box-sizing: border-box;

    &.current {
      color: white;
    }

    &.empty {
      opacity: .5;
    }

    h3 {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      text-indent: 20px;
      margin: 0;
    }

    h4 {
      margin: .5em .5em .5em 20px;
      white-space: nowrap;
      font-weight: normal;
      overflow: hidden;
    }
  }

  #round-marker {
    font-size: 3em;
    width: 6%;

    .position-control {
      display: inline;

      button {
        display: block;
        width: 100%;
        margin: .7em 0;
      }
    }
  }

  .position-track {
    .house {
      background-position: center 15px;
      background-repeat: no-repeat;
      background-size: auto 67%;
      width: 33px;
      height: 58px;
      float: left;
      text-align: center;
    }
  }

  .position-control {
    .controls {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  #supply-position-track {
    .house {
      &#stark {
        background-image: url("images/markers/stark-supply.png");
      }

      &#greyjoy {
        background-image: url("images/markers/greyjoy-supply.png");
      }

      &#baratheon {
        background-image: url("images/markers/baratheon-supply.png");
      }

      &#lannister {
        background-image: url("images/markers/lannister-supply.png");
      }

      &#tyrell {
        background-image: url("images/markers/tyrell-supply.png");
      }

      &#martell {
        background-image: url("images/markers/martell-supply.png");
      }
    }
  }

  #victory-position-track {
    .house {
      &#stark {
        background-image: url("images/markers/stark-victory.png");
      }

      &#greyjoy {
        background-image: url("images/markers/greyjoy-victory.png");
      }

      &#baratheon {
        background-image: url("images/markers/baratheon-victory.png");
      }

      &#lannister {
        background-image: url("images/markers/lannister-victory.png");
      }

      &#tyrell {
        background-image: url("images/markers/tyrell-victory.png");
      }

      &#martell {
        background-image: url("images/markers/martell-victory.png");
      }
    }
  }

  #status-stark {
    h3 {
      background-image: url("images/order-covers/stark.png");
    }
  }

  #status-greyjoy {
    h3 {
      background-image: url("images/order-covers/greyjoy.png");
    }
  }

  #status-baratheon {
    h3 {
      background-image: url("images/order-covers/baratheon.png");
    }
  }

  #status-lannister {
    h3 {
      background-image: url("images/order-covers/lannister.png");
    }
  }

  #status-tyrell {
    h3 {
      background-image: url("images/order-covers/tyrell.png");
    }
  }

  #status-martell {
    h3 {
      background-image: url("images/order-covers/martell.png");
    }
  }

  #user-menu {
    float: right;
    width: 7%;
    text-align: right;

    a, a:visited, a:link {
      color: White;
      display: block;
      margin: .5em 0;
      font-size: 1.2em;
      text-decoration: none;
    }
  }

  .status-items {
    margin: .5em 0;

    .marker, .special-token {
      background-position: left center;
      background-size: 24px;
      background-repeat: no-repeat;
      padding: 2%;
      float: left;
      width: 29.33%;
      text-indent: 24px;
    }

    .special-token {
      background-size: 16px;

      &#throne-token {
        background-image: url("images/special/throne.png");
      }

      &#blade-token {
        background-image: url("images/special/blade.png");
      }

      &#raven-token {
        background-image: url("images/special/raven.png");
      }
    }
  }
}

/* PIECES */
.piece {
  background-repeat: no-repeat;
  pointer-events: auto;
  position: absolute;
  transition-duration: 1s;
  transition-property: top, left;

  &:hover {
    cursor: grab;
    cursor: -webkit-grab;
  }

  &.is-dragging, &.is-pointer-down {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transition: none;
    z-index: 999;
  }

}

/* TOKENS */
@mixin order-token {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80px;
  width: 80px;
}
@mixin power-token {
  background-position: center center;
  background-repeat: no-repeat;
  height: 82px;
  width: 60px;
}

.march {
  @include order-token;
  background-image: url("images/orders/march.png");
}

.march-m {
  @include order-token;
  background-image: url("images/orders/marchm.png");
}

.march-p {
  @include order-token;
  background-image: url("images/orders/marchp.png");
}

.consolidate-p {
  @include order-token;
  background-image: url("images/orders/consolidatep.png");
}

.consolidate {
  @include order-token;
  background-image: url("images/orders/consolidate.png");
}

.defend-p {
  @include order-token;
  background-image: url("images/orders/defendp.png");
}

.defend {
  @include order-token;
  background-image: url("images/orders/defend.png");
}

.raid-p {
  @include order-token;
  background-image: url("images/orders/raidp.png");
}

.raid {
  @include order-token;
  background-image: url("images/orders/raid.png");
}

.support-p {
  @include order-token;
  background-image: url("images/orders/supportp.png");
}

.support {
  @include order-token;
  background-image: url("images/orders/support.png");
}

/* HOUSES */

@mixin house-cards($house, $names) {
  @each $name in $names {
    .#{$name} {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
      height: 149px;
      width: 95px;
      background-image: url("images/cards/#{$house}-#{$name}.png");
    }
  }
}

.baratheon {
  @include house-cards("baratheon",
  "patchface"
  "melisandre"
  "salladhor"
  "brienne"
  "davos"
  "renly"
  "stannis"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/baratheon.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/baratheon.png");
  }
}

.greyjoy {
  @include house-cards("greyjoy",
  "aeron"
  "asha"
  "dagmar"
  "balon"
  "theon"
  "victorian"
  "euron"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/greyjoy.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/greyjoy.png");
  }
}

.lannister {
  @include house-cards("lannister",
  "cersei"
  "tyrion"
  "hound"
  "jaime"
  "gregor"
  "tywin"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/lannister.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/lannister.png");
  }
}

.martell {
  @include house-cards("martell",
  "doran"
  "arianne"
  "nymeria"
  "darkstar"
  "obara"
  "areo"
  "redviper"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/martell.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/martell.png");
  }
}

.stark {
  @include house-cards("stark",
  "eddard-stark"
  "robb-stark"
  "roose-bolton"
  "greatjon-umber"
  "the-blackfish"
  "ser-rodrick-cassel"
  "catelyn-stark"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/stark.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/stark.png");
  }
}

.tyrell {
  @include house-cards("tyrell",
  "queen"
  "alester"
  "margaery"
  "garlan"
  "randyll"
  "loras"
  "mace"
  );

  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/tyrell.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/tyrell.png");
  }
}

/* UNITS */
.footman {
  height: 90px;
  width: 80px;

  @mixin footman-image($house) {
    background-image: url("images/units/" + $house + "-footman.png");
  }

  &.baratheon {
    @include footman-image("baratheon");
  }
  &.lannister {
    @include footman-image("lannister");
  }
  &.stark {
    @include footman-image("stark");
  }
  &.greyjoy {
    @include footman-image("greyjoy");
  }
  &.tyrell {
    @include footman-image("tyrell");
  }
  &.martell {
    @include footman-image("martell");
  }
}

.knight {
  height: 90px;
  width: 80px;

  @mixin knight-image($house) {
    background-image: url("images/units/" + $house + "-knight.png");
  }

  &.baratheon {
    @include knight-image("baratheon");
  }
  &.lannister {
    @include knight-image("lannister");
  }
  &.stark {
    @include knight-image("stark");
  }
  &.greyjoy {
    @include knight-image("greyjoy");
  }
  &.tyrell {
    @include knight-image("tyrell");
  }
  &.martell {
    @include knight-image("martell");
  }
}

.boat {
  width: 100px;
  height: 83px;

  @mixin boat-image($house) {
    background-image: url("images/units/" + $house + "-boat.png");
  }

  &.baratheon {
    @include boat-image("baratheon");
  }
  &.lannister {
    @include boat-image("lannister");
  }
  &.stark {
    @include boat-image("stark");
  }
  &.greyjoy {
    @include boat-image("greyjoy");
  }
  &.tyrell {
    @include boat-image("tyrell");
  }
  &.martell {
    @include boat-image("martell");
  }
}

.siege-engine {
  width: 80px;
  height: 97px;

  @mixin siege-engine-image($house) {
    background-image: url("images/units/" + $house + "-siege-engine.png");
  }

  &.baratheon {
    @include siege-engine-image("baratheon");
  }
  &.lannister {
    @include siege-engine-image("lannister");
  }
  &.stark {
    @include siege-engine-image("stark");
  }
  &.greyjoy {
    @include siege-engine-image("greyjoy");
  }
  &.tyrell {
    @include siege-engine-image("tyrell");
  }
  &.martell {
    @include siege-engine-image("martell");
  }
}

/* FLIPPABLE */
/* entire container, keeps perspective */
.flippable {
  perspective: 1000;

  /* flip the pane when add the class */
  &.flipped .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  /* hide back of pane during swap */
  .back, .front {
    backface-visibility: hidden;

    top: 0;
    left: 0;
  }

  /* back pane, placed above back */
  .back {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
  /* This is the EXACT color of Mac OS scrollbars.
  Yes, I pulled out digital color meter */
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}
