body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Georgia, Serif;
}

button {
  cursor: pointer;
}

#board {
  width: 1980px;
  height: 2975px;
  background-image: url("images/board.jpg");
}

.drop-actived {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* TERRITORY */
.territory {
  fill: none;
  stroke: none;
  pointer-events: all;

  &:hover {
    fill: orange;
    opacity: 0.7;
  }

  &.drop-actived {
    path {
      fill: white;
      opacity: 0.7;
    }
  }
}

/* PLAYER DOCK */
.player-dock {
  position: fixed;
  left: 0;
  top: 4.45em;
  text-align: center;
  z-index: 900;

  &.drop-actived {
    section {
      background: rgba(255, 255, 255, 0.7);
      color: black;
    }
  }

  aside {
    display: block;
    font-size: .7em;
    overflow: auto;
    position: relative;
    width: 17em;

    section {
      background: rgba(0, 0, 0, 0.7);
      color: white;
      overflow: auto;
      margin-bottom: 1px;
      padding: .5em .5em 0;

      h1, h2, p {
        margin: 0 0 .5em;
      }

      h1 {
        font-size: 1.2em;
      }

      h2 {
        font-size: 1em;
      }
    }

    .piece {
      position: static;
    }

    .piece, .footman, .knight, .ship, .siege,
    .march, .march-m, .march-p,
    .consolidate, .consolidate-p,
    .defend, .defend-p,
    .raid, .raid-p,
    .support, .support-p {
      background-size: 100%;
      float: left;
      height: 52px;
      width: 44px;
    }

    .power-token {
      background-size: 100%;
      float: left;
      height: 52px;
      width: 34px;
      margin: 0px 2px;
    }
  }

  .toggle-trigger {
    background: rgba(255, 255, 255, 1);
    border: 0;
    width: 1.5em;
    position: absolute;
    top: 45%;
    height: 5em;

    &.on-right {
      right: 0;
    }

    &.on-left {
      left: 0;
    }
  }
}

/* STATUS BAR */
#status-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;

  .status-house {
    background: rgba(0, 0, 0, 0.7);
    color: #ccc;
    overflow: auto;
    font-size: 0.65em;
    padding: .5%;
    float: left;
    margin: 0 1px 0 0;
    width: 16.58%;
    box-sizing: border-box;

    &.current {
      color: white;
    }

    &.empty {
      opacity: .5;
    }

    h3 {
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 16px 16px;
      text-indent: 20px;
      margin: 0;
    }

    h4 {
      margin: .5em .5em .5em 20px;
      white-space: nowrap;
      font-weight: normal;
      overflow: hidden;
    }
  }

  #status-stark {
    h3 {
      background-image: url("images/order-covers/stark.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/stark-supply.png");
        }

        &.victory {
          background-image: url("images/markers/stark-victory.png");
        }
      }
    }
  }

  #status-greyjoy {
    h3 {
      background-image: url("images/order-covers/greyjoy.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/greyjoy-supply.png");
        }

        &.victory {
          background-image: url("images/markers/greyjoy-victory.png");
        }
      }
    }
  }

  #status-baratheon {
    h3 {
      background-image: url("images/order-covers/baratheon.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/baratheon-supply.png");
        }

        &.victory {
          background-image: url("images/markers/baratheon-victory.png");
        }
      }
    }
  }

  #status-lannister {
    h3 {
      background-image: url("images/order-covers/lannister.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/lannister-supply.png");
        }

        &.victory {
          background-image: url("images/markers/lannister-victory.png");
        }
      }
    }
  }

  #status-tyrell {
    h3 {
      background-image: url("images/order-covers/tyrell.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/tyrell-supply.png");
        }

        &.victory {
          background-image: url("images/markers/tyrell-victory.png");
        }
      }
    }
  }

  #status-martell {
    h3 {
      background-image: url("images/order-covers/martell.png");
    }

    .status-items {
      .marker {
        &.supply {
          background-image: url("images/markers/martell-supply.png");
        }

        &.victory {
          background-image: url("images/markers/martell-victory.png");
        }
      }
    }
  }

  .status-items {
    margin: .5em 0;

    .marker, .special-token {
      background-position: left center;
      background-size: 24px;
      background-repeat: no-repeat;
      padding: 2%;
      float: left;
      width: 29.33%;
      text-indent: 24px;
    }

    .special-token {
      background-size: 16px;

      &#throne-token {
        background-image: url("images/special/throne.png");
      }

      &#blade-token {
        background-image: url("images/special/blade.png");
      }

      &#raven-token {
        background-image: url("images/special/raven.png");
      }
    }
  }
}

/* PIECES */
.piece {
  background-repeat: no-repeat;
  pointer-events: auto;
  position: absolute;
  transition-duration: 1s;
  transition-property: top, left;

  &:hover {
    cursor: grab;
    cursor: -webkit-grab;
  }

  &.is-dragging, &.is-pointer-down {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transition: none;
    z-index: 999;
  }

}

/* TOKENS */
@mixin order-token {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80px;
  width: 80px;
}
@mixin power-token {
  background-position: center center;
  background-repeat: no-repeat;
  height: 82px;
  width: 60px;
}

.march {
  @include order-token;
  background-image: url("images/orders/march.png");
}

.march-m {
  @include order-token;
  background-image: url("images/orders/marchm.png");
}

.march-p {
  @include order-token;
  background-image: url("images/orders/marchp.png");
}

.consolidate-p {
  @include order-token;
  background-image: url("images/orders/consolidatep.png");
}

.consolidate {
  @include order-token;
  background-image: url("images/orders/consolidate.png");
}

.defend-p {
  @include order-token;
  background-image: url("images/orders/defendp.png");
}

.defend {
  @include order-token;
  background-image: url("images/orders/defend.png");
}

.raid-p {
  @include order-token;
  background-image: url("images/orders/raidp.png");
}

.raid {
  @include order-token;
  background-image: url("images/orders/raid.png");
}

.support-p {
  @include order-token;
  background-image: url("images/orders/supportp.png");
}

.support {
  @include order-token;
  background-image: url("images/orders/support.png");
}

/* HOUSES */
.baratheon {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/baratheon.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/baratheon.png");
  }
}

.greyjoy {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/greyjoy.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/greyjoy.png");
  }
}

.lannister {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/lannister.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/lannister.png");
  }
}

.martell {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/martell.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/martell.png");
  }
}

.stark {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/stark.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/stark.png");
  }
}

.tyrell {
  .order-cover {
    @include order-token;
    background-image: url("images/order-covers/tyrell.png");
  }
  &.power-token {
    @include power-token;
    background-image: url("images/power-tokens/tyrell.png");
  }
}

/* UNITS */
.footman {
  height: 90px;
  width: 80px;

  @mixin footman-image($house) {
    background-image: url("images/units/" + $house + "-footman.png");
  }

  &.baratheon {
    @include footman-image("baratheon");
  }
  &.lannister {
    @include footman-image("lannister");
  }
  &.stark {
    @include footman-image("stark");
  }
  &.greyjoy {
    @include footman-image("greyjoy");
  }
  &.tyrell {
    @include footman-image("tyrell");
  }
  &.martell {
    @include footman-image("martell");
  }
}

.knight {
  height: 90px;
  width: 80px;

  @mixin knight-image($house) {
    background-image: url("images/units/" + $house + "-knight.png");
  }

  &.baratheon {
    @include knight-image("baratheon");
  }
  &.lannister {
    @include knight-image("lannister");
  }
  &.stark {
    @include knight-image("stark");
  }
  &.greyjoy {
    @include knight-image("greyjoy");
  }
  &.tyrell {
    @include knight-image("tyrell");
  }
  &.martell {
    @include knight-image("martell");
  }
}

.boat {
  width: 100px;
  height: 83px;

  @mixin boat-image($house) {
    background-image: url("images/units/" + $house + "-boat.png");
  }

  &.baratheon {
    @include boat-image("baratheon");
  }
  &.lannister {
    @include boat-image("lannister");
  }
  &.stark {
    @include boat-image("stark");
  }
  &.greyjoy {
    @include boat-image("greyjoy");
  }
  &.tyrell {
    @include boat-image("tyrell");
  }
  &.martell {
    @include boat-image("martell");
  }
}

.siege-engine {
  width: 80px;
  height: 97px;

  @mixin siege-engine-image($house) {
    background-image: url("images/units/" + $house + "-siege-engine.png");
  }

  &.baratheon {
    @include siege-engine-image("baratheon");
  }
  &.lannister {
    @include siege-engine-image("lannister");
  }
  &.stark {
    @include siege-engine-image("stark");
  }
  &.greyjoy {
    @include siege-engine-image("greyjoy");
  }
  &.tyrell {
    @include siege-engine-image("tyrell");
  }
  &.martell {
    @include siege-engine-image("martell");
  }
}

/* FLIPPABLE */
/* entire container, keeps perspective */
.flippable {
  perspective: 1000;

  /* flip the pane when add the class */
  &.flipped .flipper {
    transform: rotateY(180deg);
  }

  /* flip speed goes here */
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  /* hide back of pane during swap */
  .back, .front {
    backface-visibility: hidden;

    top: 0;
    left: 0;
  }

  /* back pane, placed above back */
  .back {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
  }

  /* back, initially hidden pane */
  .front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
  }
}
