/* glue: 0.11.1 hash: 6f040ba506 */
        .neutral-force-5-6-kingslanding,
.neutral-force-4-stormsend,
.neutral-force-4-oldtown,
.neutral-force-4-dornishmarches,
.neutral-force-4-6-eyrie,
.neutral-force-4-5-yronwood,
.neutral-force-4-5-threetowers,
.neutral-force-4-5-sunspear,
.neutral-force-4-5-starfall,
.neutral-force-4-5-saltshore,
.neutral-force-4-5-princespass,
.neutral-force-4-5-boneway,
.neutral-force-3-yronwood,
.neutral-force-3-threetowers,
.neutral-force-3-sunspear,
.neutral-force-3-stormsend,
.neutral-force-3-starfall,
.neutral-force-3-saltshore,
.neutral-force-3-pyke,
.neutral-force-3-princespass,
.neutral-force-3-oldtown,
.neutral-force-3-kingslanding,
.neutral-force-3-highgarden,
.neutral-force-3-eyrie,
.neutral-force-3-dornishmarches,
.neutral-force-3-boneway {
            background-image: url('../../public/assets/images/neutral-forces.png');
            background-repeat: no-repeat;
        }
        
        .neutral-force-5-6-kingslanding {
            background-position: 0 0;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-stormsend {
            background-position: -150px 0;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-oldtown {
            background-position: 0 -87px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-dornishmarches {
            background-position: -150px -87px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-6-eyrie {
            background-position: 0 -174px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-yronwood {
            background-position: -150px -174px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-threetowers {
            background-position: -300px 0;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-sunspear {
            background-position: -300px -87px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-starfall {
            background-position: -300px -174px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-saltshore {
            background-position: 0 -261px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-princespass {
            background-position: -150px -261px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-4-5-boneway {
            background-position: -300px -261px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-yronwood {
            background-position: 0 -348px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-threetowers {
            background-position: -150px -348px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-sunspear {
            background-position: -300px -348px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-stormsend {
            background-position: -450px 0;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-starfall {
            background-position: -450px -87px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-saltshore {
            background-position: -450px -174px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-pyke {
            background-position: -450px -261px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-princespass {
            background-position: -450px -348px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-oldtown {
            background-position: 0 -435px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-kingslanding {
            background-position: -150px -435px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-highgarden {
            background-position: -300px -435px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-eyrie {
            background-position: -450px -435px;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-dornishmarches {
            background-position: -600px 0;
            width: 150px;
            height: 87px;
        }
        
        .neutral-force-3-boneway {
            background-position: -600px -87px;
            width: 150px;
            height: 87px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .neutral-force-5-6-kingslanding,
    .neutral-force-4-stormsend,
    .neutral-force-4-oldtown,
    .neutral-force-4-dornishmarches,
    .neutral-force-4-6-eyrie,
    .neutral-force-4-5-yronwood,
    .neutral-force-4-5-threetowers,
    .neutral-force-4-5-sunspear,
    .neutral-force-4-5-starfall,
    .neutral-force-4-5-saltshore,
    .neutral-force-4-5-princespass,
    .neutral-force-4-5-boneway,
    .neutral-force-3-yronwood,
    .neutral-force-3-threetowers,
    .neutral-force-3-sunspear,
    .neutral-force-3-stormsend,
    .neutral-force-3-starfall,
    .neutral-force-3-saltshore,
    .neutral-force-3-pyke,
    .neutral-force-3-princespass,
    .neutral-force-3-oldtown,
    .neutral-force-3-kingslanding,
    .neutral-force-3-highgarden,
    .neutral-force-3-eyrie,
    .neutral-force-3-dornishmarches,
    .neutral-force-3-boneway {
                background-image: url('../../public/assets/images/neutral-forces.png');
                -webkit-background-size: 750px 522px;
                -moz-background-size: 750px 522px;
                background-size: 750px 522px;
            }
        }
        