/* glue: 0.11.1 hash: 246443ee8a */
        .sprite-5-6-kingslanding,
.sprite-4-stormsend,
.sprite-4-oldtown,
.sprite-4-dornishmarches,
.sprite-4-6-eyrie,
.sprite-4-5-yronwood,
.sprite-4-5-threetowers,
.sprite-4-5-sunspear,
.sprite-4-5-starfall,
.sprite-4-5-saltshore,
.sprite-4-5-princespass,
.sprite-4-5-boneway,
.sprite-3-yronwood,
.sprite-3-threetowers,
.sprite-3-sunspear,
.sprite-3-stormsend,
.sprite-3-starfall,
.sprite-3-saltshore,
.sprite-3-pyke,
.sprite-3-princespass,
.sprite-3-oldtown,
.sprite-3-kingslanding,
.sprite-3-highgarden,
.sprite-3-eyrie,
.sprite-3-dornishmarches,
.sprite-3-boneway {
            background-image: url('../../public/assets/images/neutral-force.png');
            background-repeat: no-repeat;
        }
        
        .sprite-5-6-kingslanding {
            background-position: 0 0;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-stormsend {
            background-position: -150px 0;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-oldtown {
            background-position: 0 -87px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-dornishmarches {
            background-position: -150px -87px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-6-eyrie {
            background-position: 0 -174px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-yronwood {
            background-position: -150px -174px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-threetowers {
            background-position: -300px 0;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-sunspear {
            background-position: -300px -87px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-starfall {
            background-position: -300px -174px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-saltshore {
            background-position: 0 -261px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-princespass {
            background-position: -150px -261px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-4-5-boneway {
            background-position: -300px -261px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-yronwood {
            background-position: 0 -348px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-threetowers {
            background-position: -150px -348px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-sunspear {
            background-position: -300px -348px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-stormsend {
            background-position: -450px 0;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-starfall {
            background-position: -450px -87px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-saltshore {
            background-position: -450px -174px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-pyke {
            background-position: -450px -261px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-princespass {
            background-position: -450px -348px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-oldtown {
            background-position: 0 -435px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-kingslanding {
            background-position: -150px -435px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-highgarden {
            background-position: -300px -435px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-eyrie {
            background-position: -450px -435px;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-dornishmarches {
            background-position: -600px 0;
            width: 150px;
            height: 87px;
        }
        
        .sprite-3-boneway {
            background-position: -600px -87px;
            width: 150px;
            height: 87px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-5-6-kingslanding,
    .sprite-4-stormsend,
    .sprite-4-oldtown,
    .sprite-4-dornishmarches,
    .sprite-4-6-eyrie,
    .sprite-4-5-yronwood,
    .sprite-4-5-threetowers,
    .sprite-4-5-sunspear,
    .sprite-4-5-starfall,
    .sprite-4-5-saltshore,
    .sprite-4-5-princespass,
    .sprite-4-5-boneway,
    .sprite-3-yronwood,
    .sprite-3-threetowers,
    .sprite-3-sunspear,
    .sprite-3-stormsend,
    .sprite-3-starfall,
    .sprite-3-saltshore,
    .sprite-3-pyke,
    .sprite-3-princespass,
    .sprite-3-oldtown,
    .sprite-3-kingslanding,
    .sprite-3-highgarden,
    .sprite-3-eyrie,
    .sprite-3-dornishmarches,
    .sprite-3-boneway {
                background-image: url('../../public/assets/images/neutral-force.png');
                -webkit-background-size: 750px 522px;
                -moz-background-size: 750px 522px;
                background-size: 750px 522px;
            }
        }
        