{{session.content.userName}}

{{#if session.isAuthenticated}}
Welcome logged in user!
  If you like to logout click <a id="logout" {{ action 'invalidateSession' }}>here</a>
{{else}}
Click here to {{#link-to 'login'}}login!{{/link-to}}
{{/if}}
{{outlet}}
